[submodule "libraries/glm"]
	path = libraries/glm
	url = https://github.com/g-truc/glm
[submodule "libraries/SDL"]
	path = libraries/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "libraries/vk-bootstrap"]
	path = libraries/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "libraries/VulkanMemoryAllocator"]
	path = libraries/VulkanMemoryAllocator
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
